service cloud.firestore {
  match /databases/{database}/documents {
    match /classes/{block} {
      allow read, create, update;
    }
    match /users/{user} {
      allow read, write;
    }
  }
}
