/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */
@import '../shared.less';

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  transition: box-shadow 0.4s cubic-bezier(0.4,0,0,1);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  color: #222;
  overflow: hidden;
  z-index: 4;
  background-color: white;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  user-select: none;
  &[filled] {
    color: white;
    background: @grad;
  }
}
.title {
  text-align: center;
  font-size: 20pt;
  height: 4rem;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
tab-container {
  width: 100%;
}